<!DOCTYPE html>
<html ng-app="ReportTrunk">
	<head>
		<meta charset="utf-8"></meta>
	</head>
	<body>

		<div ng-controller="CurrentTrunksCtrl">
			<table class="table table-striped table-hover">
				<caption>Real Time report</caption>
				<thead>
					<tr>
						<th>Group</th>
						<th>Active</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="group in groups | orderBy:name">
						<td>{{group.name}}</td>
						<td>{{group.total}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">Total Trunks: {{trunks.length}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
		
		<div ng-controller="ReportTrunksCtrl">
			<chart init="init" chart="chart"></chart>
		</div>
		
		<script type="text/javascript" src="components/jquery/jquery.js"></script>
		<script type="text/javascript" src="components/sockjs/sockjs.js"></script>
		<script type="text/javascript" src="components/angular/angular.js"></script>
		<script type="text/javascript" src="components/highcharts/highcharts.js"></script>
		
		<script type="text/javascript" src="components/bootstrap/docs/assets/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="components/bootstrap/docs/assets/css/bootstrap.css"></link>

		<script type="text/javascript" src="app.js"></script>

	</body>
</html>